body {
    background-color: #e6e6e6;
    font-family: sans-serif;
}

.about-container {
    width: 500px;
    margin: 40px auto;
    
}

.btn-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.tab-btn {
    padding: 15px 0;
    border: none;
    cursor: pointer;
    background-color: rgb(169, 169, 169);
    letter-spacing: 4px;
}

.tab-btn:hover {
    background-color: rgb(208, 233, 255);
}

.content-container {
    background-color: #fff;
    padding: 5px 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.content {
    display: none;
}

.active {
    background-color: #fff;
    display: block;
}